<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781846829235-psuo80gicju595rkpb08r5jji2hm00jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781846829235-psuo80gicju595rkpb08r5jji2hm00jc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781846829235-e5leptbl9d5dm0bmnps2tamr7cfah7r6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRYx1ag72kY2BgcCg5DJSCdmsG031TUvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>781846829235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roccaboxagent.roccaboxAgent</string>
	<key>PROJECT_ID</key>
	<string>roccabox-b7a79</string>
	<key>STORAGE_BUCKET</key>
	<string>roccabox-b7a79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781846829235:ios:93e87ded47347b9bcbf8c6</string>
</dict>
</plist>